<mat-sidenav #sidenav mode="push" [ngStyle]="{ width:'200px'}">
  <mat-toolbar color="primary">
    <span>Menu</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-nav-list>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list-item>
            Plato
          </mat-list-item>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-list-item  [routerLink]="['/plato/create']" >
        Añadir
      </mat-list-item>
      <mat-list-item [routerLink]="['/plato/listado']">
        Listar
      </mat-list-item>
    </mat-expansion-panel>

  </mat-nav-list>

</mat-sidenav>

<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
